/**
 * LinkedInputs Component Styles
 * Design tokens are automatically imported via Vite configuration
 *
 * A group of linked input fields that can be connected/unconnected.
 * Includes link button to toggle value synchronization.
 */

.linked-inputs {
  align-items: flex-end;
  display: flex;

  &__items {
    align-items: flex-end;
    display: inline-flex;
  }

  &__item-wrapper {
    display: inline-flex;
    flex-direction: column;
    gap: tokens.$spacing-1;
  }

  &__item {
    // First item gets left border radius
    &:first-child {
      :global(.input-number__input) {
        border-radius: tokens.$border-radius-md 0 0 tokens.$border-radius-md;
      }
    }
  }

  &__label {
    color: tokens.$color-ui-text-secondary;
    font-size: tokens.$typography-font-size-xs;
    font-weight: tokens.$typography-font-weight-medium;
    line-height: 1.4;
  }

  &__input {
    border-right-width: 0;
    border-radius: 0;
  }

  &__link {
    border-radius: 0 tokens.$border-radius-md tokens.$border-radius-md 0;
    height: tokens.$sizing-7; // Match input height
    min-width: tokens.$sizing-8;

    &--active {
      background-color: tokens.$color-brand-primary-500;
      color: tokens.$color-ui-background-primary;

      &:hover {
        background-color: tokens.$color-brand-primary-600;
      }
    }
  }
}
