/**
 * Label component styles
 * Design tokens are automatically imported via Vite configuration
 */

.label {
  display: inline-block;
  font-weight: tokens.$typography-font-weight-medium;
  font-size: tokens.$typography-font-size-sm;
  line-height: tokens.$typography-line-height-normal;
  color: tokens.$color-neutral-700;
  margin-bottom: tokens.$spacing-1;
  cursor: pointer;

  &__required {
    color: tokens.$color-semantic-error-base;
    margin-left: tokens.$spacing-1;
  }
}
