/**
 * InputNumber Component Styles
 * Design tokens are automatically imported via Vite configuration
 */

.input-number {
  position: relative;
  display: inline-block;
  width: 100%;

  &__input {
    width: 100%;
    padding-right: tokens.$spacing-8;
    padding: tokens.$spacing-2 tokens.$spacing-8 tokens.$spacing-2 tokens.$spacing-3;
    border: tokens.$border-width-base solid tokens.$color-neutral-300;
    border-radius: tokens.$border-radius-md;
    font-size: tokens.$typography-font-size-sm;
    line-height: tokens.$typography-line-height-normal;
    transition: border-color tokens.$animation-duration-fast tokens.$animation-easing-ease-in-out;

    &:focus {
      outline: none;
      border-color: tokens.$color-brand-primary-500;
      box-shadow: 0 0 0 3px rgba(tokens.$color-brand-primary-500, 0.1);
    }

    &:disabled {
      background-color: tokens.$color-neutral-100;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__arrows {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }

  &__arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: tokens.$spacing-7;
    color: tokens.$color-neutral-400;
    cursor: pointer;
    font-size: tokens.$typography-font-size-xs;
    user-select: none;
    flex: 1;
    transition: color tokens.$animation-duration-fast tokens.$animation-easing-ease-in-out;

    &:hover {
      color: tokens.$color-neutral-600;
    }

    &:active {
      color: tokens.$color-neutral-800;
    }

    &--up {
      border-bottom: 1px solid tokens.$color-neutral-200;
    }

    &--down {
      // No additional styles needed
    }

    &--disabled {
      color: tokens.$color-neutral-200;
      pointer-events: none;
      cursor: not-allowed;
    }
  }

  &--disabled {
    opacity: 0.6;

    .input-number__arrow {
      color: tokens.$color-neutral-200;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
