/**
 * InputNumber Component Styles
 * Design tokens are automatically imported via Vite configuration
 */

.input-number {
  position: relative;
  display: inline-block;
  width: 100%;

  &__input {
    width: 100%;
    padding-right: tokens.$spacing-8;
    padding: tokens.$spacing-2 tokens.$spacing-8 tokens.$spacing-2 tokens.$spacing-3;
    border: tokens.$border-width-base solid tokens.$color-neutral-300;
    border-radius: tokens.$border-radius-md;
    font-size: tokens.$typography-font-size-sm;
    line-height: tokens.$typography-line-height-normal;
    transition: border-color tokens.$animation-duration-fast tokens.$animation-easing-ease-in-out;

    &:focus {
      outline: none;
      border-color: tokens.$color-brand-primary-500;
      box-shadow: 0 0 0 3px rgba(tokens.$color-brand-primary-500, 0.1);
    }

    &:disabled {
      background-color: tokens.$color-neutral-100;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &__up-arrow,
  &__down-arrow {
    position: absolute;
    right: tokens.$spacing-3-5;
    color: tokens.$color-neutral-400;
    cursor: pointer;
    font-size: tokens.$typography-font-size-xs;
    user-select: none;
    z-index: 1;
    transition: color tokens.$animation-duration-fast tokens.$animation-easing-ease-in-out;

    &:hover {
      color: tokens.$color-neutral-600;
    }

    &:active {
      color: tokens.$color-neutral-800;
    }
  }

  &__up-arrow {
    top: tokens.$spacing-1-5;
  }

  &__down-arrow {
    bottom: tokens.$spacing-1-5;
  }

  &__arrow--disabled {
    color: tokens.$color-neutral-200;
    pointer-events: none;
    cursor: not-allowed;
  }

  &--disabled {
    opacity: 0.6;

    .input-number__up-arrow,
    .input-number__down-arrow {
      color: tokens.$color-neutral-200;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
