/**
 * Tabs Component Styles
 * Design tokens are automatically imported via Vite configuration
 */

.tabs {
  display: flex;
  flex-direction: column;

  &__tabs {
    align-items: center;
    border-bottom: tokens.$border-width-base solid tokens.$color-neutral-200;
    display: flex;
    justify-content: space-around;
  }

  &__tabItem {
    cursor: pointer;
    font-size: tokens.$typography-font-size-xs;
    font-weight: tokens.$typography-font-weight-medium;
    padding: tokens.$spacing-2 tokens.$spacing-6;
    text-transform: uppercase;
    transition: color tokens.$animation-duration-normal tokens.$animation-easing-ease;

    &:hover {
      color: tokens.$color-brand-accent-base;
    }

    &--active {
      color: tokens.$color-brand-accent-base;
      font-weight: tokens.$typography-font-weight-semibold;
      position: relative;

      &::after {
        background-color: currentColor;
        content: '';
        height: tokens.$border-width-2;
        left: 0;
        position: absolute;
        top: calc(100% - 0.5px);
        width: 100%;
      }
    }
  }

  &__contentWrapper {
    flex: 1;
  }

  &__tabPane {
    display: none;

    &--active {
      display: block;
    }
  }
}
