.accordion {
  width: 100%;

  &__control {
    align-items: center;
    background-color: #f35625;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    padding: 8px 14px 8px 10px;
    transition: background-color 0.2s ease;

    &:hover {
      opacity: 0.9;
    }

    &Inner {
      flex-grow: 1;
    }
  }

  &__content {
    background-color: #ffffff;
    display: none;
    padding: 16px 10px;
  }

  &__arrow {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &--open {
    > .accordion__content {
      display: block;
    }
  }

  // Type variations
  &--extend {
    > .accordion__control {
      padding-right: 24px;
    }
  }

  // Color variations
  &--primary {
    > .accordion__control {
      background-color: #f35625;
      color: #ffffff;
    }
  }

  &--grey {
    > .accordion__control {
      background-color: #f4f7fc;
      color: #7e8299;
    }

    .accordion__arrow {
      color: #b5b4c3;
    }
  }

  &--grey-outline {
    > .accordion__control {
      background-color: transparent;
      border-bottom: 0.5px solid #b5b4c3;
      color: #7e8299;
    }

    .accordion__arrow {
      color: #b5b4c3;
    }
  }
}
