/**
 * Accordion Component Styles
 * Design tokens are automatically imported via Vite configuration
 */

.accordion {
  width: 100%;

  &__control {
    align-items: center;
    background-color: tokens.$color-brand-accent-500;
    color: tokens.$color-ui-text-inverse;
    cursor: pointer;
    display: flex;
    font-weight: tokens.$typography-font-weight-medium;
    justify-content: space-between;
    padding: tokens.$spacing-2 tokens.$spacing-3-5 tokens.$spacing-2 tokens.$spacing-2-5;
    transition: background-color tokens.$animation-duration-normal tokens.$animation-easing-ease;

    &:hover {
      opacity: 0.9;
    }

    &Inner {
      flex-grow: 1;
    }
  }

  &__content {
    background-color: tokens.$color-ui-background-primary;
    display: none;
    padding: tokens.$spacing-4 tokens.$spacing-2-5;
  }

  &__arrow {
    font-size: tokens.$typography-font-size-base;
    display: flex;
    align-items: center;
    justify-content: center;
    width: tokens.$sizing-6;
    height: tokens.$sizing-6;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &--open {
    > .accordion__content {
      display: block;
    }
  }

  // Type variations
  &--extend {
    > .accordion__control {
      padding-right: tokens.$spacing-6;
    }
  }

  // Color variations
  &--primary {
    > .accordion__control {
      background-color: tokens.$color-brand-accent-500;
      color: tokens.$color-ui-text-inverse;
    }
  }

  &--grey {
    > .accordion__control {
      background-color: tokens.$color-ui-background-secondary;
      color: tokens.$color-neutral-600;
    }

    .accordion__arrow {
      color: tokens.$color-neutral-400;
    }
  }

  &--grey-outline {
    > .accordion__control {
      background-color: transparent;
      border-bottom: 0.5px solid tokens.$color-neutral-400;
      color: tokens.$color-neutral-600;
    }

    .accordion__arrow {
      color: tokens.$color-neutral-400;
    }
  }
}
