/**
 * Icon component styles
 */

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  line-height: 1;

  &--clickable {
    cursor: pointer;
  }
}
