/**
 * Icon component styles
 * Design tokens are automatically imported via Vite configuration
 */

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  user-select: none;
  line-height: tokens.$typography-line-height-none;

  &--clickable {
    cursor: pointer;
  }
}
